body{
    background-color:  beige;
}

.banner {
    color: chocolate;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
}

.square {
    text-align: center;
}

.block {
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.red{
    background-color: red;
}

.aqua {
    background-color: aqua;
}

.purple {
    background-color: purple;
}

.plum {
    background-color: plum;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.brown {
    background-color: brown;
}

.orange {
    background-color: orange;
}

#hidden {
    background-color:silver;
}

